<!DOCTYPE html>
<html>
  <head>
    <title>ＭＡＫＥＴＥＲＭ</title>
    <meta charset="UTF-8">
  </head>
  <body　style="font-smooth: never; -webkit-font-smoothing: never;">
    <center>
      <h1>ＭＡＫＥＴＥＲＭ</h1>
      <hr>
      <p>ＤＥＭＯ／ＢＯＯＫＭＡＲＫＬＥＴ　ＢＥＬＯＷ</p>

      <a href="
      SCRIPT_SRC
      ">
        ＭＡＫＥＴＥＲＭ
      </a>

      <p>※ＵＬＴＲＡ ＧＲＡＰＨＩＣＳ ＲＥＱＵＩＲＥＳ Ａ ＦＵＮＣＴＩＯＮＩＮＧ ＩＮＴＥＲＮＥＴ ＣＯＮＮＥＣＴＩＯＮ （２４００ ＢＡＵＤ ＷＡＲＮＩＮＧ）</p>
    </center>
  </body>
</html>
