<!DOCTYPE html>
<html>
  <head>
    <title>ＭＡＫＥＴＥＲＭ</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <center>
      <h1>ＭＡＫＥＴＥＲＭ</h1>
      <hr>

      <p>ＤＥＭＯ／ＢＯＯＫＭＡＲＫＬＥＴ</p>

      <strong>
      <a href="
      SCRIPT_SRC
      ">
        ＭＡＫＥＴＥＲＭ
      </a>
      </strong>

      <p>ＳＣＲＥＥＮ　ＳＨＯＴ</p>
      <img src="screenshot.gif" style="max-width: 90vw"></img>

      <p>※ＵＬＴＲＡ　ＧＲＡＰＨＩＣＳ　ＲＥＱＵＩＲＥＳ　Ａ　ＧＯＯＤ　ＢＬＩＴＴＥＲ　＆　ＦＵＮＣＴＩＯＮＩＮＧ　ＩＮＴＥＲＮＥＴ　ＣＯＮＮＥＣＴＩＯＮ　（２４００　ＢＡＵＤ　ＷＡＲＮＩＮＧ）</p>
      <p>※ＣＯＮＴＥＮＴ　ＳＥＣＵＲＩＴＹ　ＰＯＬＩＣＹ　ＭＡＹ　ＢＬＯＣＫ　ＳＣＲＩＰＴ　ＦＲＯＭ　ＲＵＮＮＩＮＧ</p>
      <p><a href="https://github.com/gyng/maketerm">※ＧＩＴＨＵＢ　ＰＲＯＪＥＣＴ　ＰＡＧＥ</a></p>
    </center>
  </body>
</html>
